.account-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.profiles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.profile-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%; /* 좌우 반씩 */
}

.main-person {
  margin-bottom: 15px;
}

.family-persons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.person-name {
  margin-top: 6px;
  text-align: center;
  font-size: 0.85rem;
}
