.top-nav {
  position: fixed;
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

.top-nav div {
  cursor: pointer;
  padding: 6px 0;
}

.top-nav div:active {
  opacity: 0.6;
}