.container-nav{
   margin: 0;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-nav {
  max-width: 480px;
  position: fixed;
  width: 100%;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

.top-nav div {
  cursor: pointer;
  padding: 6px 0;
}

.top-nav div:active {
  opacity: 0.6;
}