.rsvp__sub_title {
  color: rgb(119, 163, 108);
}

.rsvp__title {
  font-size: xx-large;
  color: rgb(119, 163, 108);
  margin-bottom: 30px;
  font: inherit;
  font-weight: bold;
  font-family: "Cafe24Oneprettynight", sans-serif;
}

/* 버튼 디자인 */
.rsvp-button {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  background: rgb(213, 168, 145);
  color: #fff;
  font-family: "Cafe24Oneprettynight", sans-serif;
  text-align: center;
  cursor: pointer;
  margin-top: 40px;
}

.rsvp-button:hover {
  background: rgb(191, 149, 128);
}
