.gallery-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

/* 3D 공간 안에 있는 아이템 */
.gallery-item {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 45%; /* 🔥 비율용 */
  margin: 0;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 이미지 */
.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  display: block;
}

/* 텍스트 */
.gallery-item .caption {
  margin-top: 15px;
  text-align: center;
  font-family: KimNamyun, sans-serif;
  font-size: 1.2rem;
  line-height: 25px;
  color: #333;
}
