.App {
  text-align: center;
}

.title {
  font-size: xx-large;
}
.container {
  margin: 20px 10% 20px;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_container{
  position: relative;
  height: 10000px;
}
html, body {
  overflow-y: auto;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}
.flower {
  width: 150px;
}

button {
  cursor: pointer;
}

.bc-white {
  background-color: white;
}

.bc-pink {
  background-color: #fdf7f7;;
}

#scroll-container {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}