.App {
  text-align: center;
}

.title {
  font-size: xx-large;
}
.container {
  margin: 20px 10% 20px;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_container {
  position: relative;
  max-width: 480px;
  height: 8700px;
}
html,
body {
  overflow-y: auto;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}
.flower {
  width: 150px;
}

button {
  cursor: pointer;
}

.bc-white {
  background-color: white;
}

.bc-pink {
  max-width: 480px;
  background-color: #fdf7f7;
}

.between_space {
  margin-top: 120px !important;
}

#scroll-container {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

button,
.person,
a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* 모바일 클릭 시 파란 하이라이트 제거 */
}
.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

/* 보일 때 */
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}
* {
  -webkit-tap-highlight-color: transparent;
}
.music-overlay {
  position: fixed;
  inset: 0;
  z-index: 10001; /* Snowfall보다 위 */
  background: transparent;
}
